body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #6930c3;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    color: #fff;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button#addTask {
    background-color: #5e239d;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

button#addTask:hover {
    background-color: #400080;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 3px 8px;
}

.delete-button:hover {
    background-color: #c0392b;
}
